<!-- /snippets/social-links.liquid -->

<div class="social-links">

  {% if settings.social_instagram_link != blank %}
    <a target="_blank" href="{{settings.social_instagram_link}}" class="share-instagram" title="Instagram">
      <span class="icon icon-instagram" aria-hidden="true"></span>
      <span class="visually-hidden">Instagram</span>
    </a>
  {% endif %}

</div>
