<div class="input-group">
    <span 
    style="
    background: {{section.settings.cta-background-color}};
    box-shadow: inset 0 0 0 1px {{section.settings.cta-border-color}};"
    class="input-group-btn">
      <input
      value="{{section.settings.cta-text}}"
      style="white-space:nowrap;text-transform:uppercase"
      type="submit" class="btn password-page__signup-form__submit" >
    </span>
  </div>