<div class="input-group">
    <span class="input-group-btn">
      <input
      value="{{section.settings.cta}}"
      style="white-space:nowrap;text-transform:uppercase"
      type="submit" class="btn password-page__signup-form__submit" >
    </span>
  </div>