<section class="no-pad edition__section">
    <div class="grid-12 edition">
        <div class="edition__grid">
            {% for block in section.blocks %}
            {% if forloop.index0 == 0 or forloop.index0 == 2 %}
            {% assign size = 'edition__large' %}
            {% else %}
            {% assign size = 'edition__small' %}
            {% endif %}
            <div class="edition__item {{size}}">
                <div class="img" style="background-image: url('{{block.settings.edition.featured_image  | image_url }}'); background-size: cover; background-position: 50% 50%;"></div>
                <div class="edition__item-title">
                    <a href="{{block.settings.edition.url}}"> {{block.settings.edition.title}} </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
"name": "Product Scroller",
"blocks": [
{
"name": "edition",
"type": "edition",
"settings": [
{
"type": "product",
"id": "edition",
"label": "Edition"
}
]
}
]
}
{% endschema %}