<div class="header">
  <div class="header__menu-list"></div>
  <div class="header__inner">
    <div class="header__menu">
      <!-- <img src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/BURGER.png?v=1652728975" /> -->
      <button class="mphus-icon__wrapper js-drawer-open-button-left" aria-label="NavDrawer">
        <div class="mphus-burger">
          <span class="mphus-burger__line mphus-burger--top"></span>
          <span class="mphus-burger__line mphus-burger--mid"></span>
          <span class="mphus-burger__line mphus-burger--bottom"></span>
        </div>
        <div class="mphus-header__text visually-hidden">Menu</div>
      </button>
    </div>
    <div class="header__logo">
      <a href="/">
        <img width="150" height="47" src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/HEADER_LOGO.png?v=1652728919" />
      </a>
    </div>
    <div class="header__cart">
      {% if cart.item_count > 0 %}
      <img width="35" height="35" src="{{section.settings.bag-full|image_url}}" />
      <div class="header__cart-count">{{cart.item_count}}</div>
      {% else %}
      <img width="50" height="50" src="{{section.settings.bag-empty|image_url}}" />
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
{
"name": "header",
"settings": [
{
"id": "bag-empty",
"type": "image_picker",
"label": "Shopping bag no colour"
},
{
"id": "bag-full",
"type": "image_picker",
"label": "Shopping bag full colour"
}
]
}
{% endschema %}