<section class="grid-12 hero_2">
  <!-- Hero Slider-->
  <div class="hero__img_2">

  </div>
  <div class="hero__text">
    <div class="hero__text-mw">
      <h1>{{section.settings.heading-1}}</h1>
      <h2>{{section.settings.heading-2}}</h2>
      <div class="hero__btn">
         {% render "swipe-btn" %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
"name": "Hero Section",
"settings": [
{
"id": "heading-1",
"type": "text",
"label": "Heading 1",
"default": "British Equestrian Wear"
},
{
"id": "heading-2",
"type": "text",
"label": "Heading 2",
"default": "handmade & sustainable"
},
{
"id": "cta-text", 
"type": "text", 
"label": "CTA Text",
"default": "Shop Now"
},
{
"id": "cta-background-color",
"type": "color", 
"label": "CTA Background Colour",
"default": "#000"
},
{
"id": "cta-border-color",
"type": "color", 
"label": "CTA Border Colour",
"default": "#fff"
},
{
"id": "image",
"type": "image_picker",
"label": "Image"
}
]
}
{% endschema %}