<section style="{% if section.settings.bg-image %} background-image: url('{{section.settings.bg-image | image_url}}'); background-size: cover; background-position: 50% 50%; {% else %} background: black; {% endif %}" class="no-pad instagram__section">
    <div class="instagram">
        <div class="instagram__icon"></div>
        <h2>{{section.settings.heading-1}}</h2>
        <h3>{{section.settings.heading-2}}</h3>
        <!-- <div class="instagram__embed"></div> -->
        <div class="instagram__grid">
            {% for image in section.blocks %}
                <div class="instagram__item">
                    <div style="background-image: url('{{image.settings.insta_image | image_url}}');"></div>
                </div>
            {% endfor %}
        </div>
        <div class="instagram__btn">
            {% render "swipe-btn" %}
        </div>
    </div>
</section>

{% schema %}
{
"name": "Instagram Section",
"settings": [
{
    "id": "bg-image",
    "type": "image_picker",
    "label": "Background Image"
},
{
"id": "heading-1",
"type": "text",
"label": "Heading 1",
"default": "@Asur_equestrian"
},
{
"id": "heading-2",
"type": "text",
"label": "Heading 2",
"default": "Connect with us to see behind the scenes shots, our favourite influencers and much more."
},
{
"id": "cta-background-color",
"type": "color",
"label": "CTA Background Colour",
"default": "#000"
},
{
"id": "cta-border-color",
"type": "color",
"label": "CTA Border Colour",
"default": "#fff"
},
{
"id": "cta-text",
"type": "text",
"label": "CTA Text",
"default": "Join @ASUR_EQUESTRIAN"
},
{
"id": "cta-url",
"type": "url",
"label": "CTA Link",
"default": "/"
}
],
"blocks": [
{"name": "instagram image", "type": "image_picker", "limit": 9, "settings": [
{
"id": "insta_image",
"type": "image_picker",
"label": "Instagram Image"
}
]}
]
}
{% endschema %}