<section class="no-pad story__section">
    <div class="story">
        <div class="story__image"></div>
        <div class="story__text">
            <h2>{{section.settings.heading-1}}</h2>
            <h3>{{section.settings.heading-2}}</h3>
        </div>
    </div>
    <div class="story__btn">
        {% render 'swipe-btn' %}
    </div>
</section>

<!-- ,
"default": "Asur was born from the desire to have quality, ethical, 100% British made equestrian wear. All of our
clothing are batch made, limited edition pieces." -->
{% schema %}
{
"name": "About Us Section",
"settings": [
{
"id": "heading-1",
"type": "text",
"label": "Heading 1",
"default": "Our Story"
},
{
"id": "heading-2",
"type": "textarea",
"label": "Heading 2"
},

{
"id": "cta-background-color",
"type": "color",
"label": "CTA Background Colour",
"default": "#fff"
},
{
"id": "cta-border-color",
"type": "color",
"label": "CTA Border Colour",
"default": "#000"
},
{
"id": "cta-text",
"type": "text",
"label": "CTA Text",
"default": "Find Out More"
},
{
"id": "cta-url",
"type": "url",
"label": "CTA Link",
"default": "/"
}
]
}
{% endschema %}