<!-- /templates/index.liquid -->

<div class="index-sections" data-sections-wrapper>
  {% section "hero" %}
  {% section "featured-editions" %}
  {% section "craftmanship" %}
  {% section "story" %}
  {% section "guarantees" %}
</div>
 